/* http://www.colourlovers.com/palette/1332591/Heiderich */
body {
  font: 12px/18px Helvetica, Arial, sans-serif;
  color: #123754;
  background-color: #EAEED5;
  box-sizing: border-box;
}

a {
  color: #419693;
}

a:hover {
  text-decoration: none;
}

h1,h2 {
  font-weight: normal;
}

h1 {
  font-size: 24px;
  line-height: 24px;
}

h2 {
  margin-top: 30px;
  font-size: 18px;
  line-height: 18px;
}

td {
  white-space: nowrap;
  padding: 5px;
}

#container {
  margin: 20px 50px;
  padding: 10px;
}

#content {
  border-radius: 7px 7px;
  border: 1px solid #E6E6E6;
  background-color: white;
  width: 60%;
  float: left;
  padding: 2%;
  min-height: 200px;
}

#side {
  background-color: white;
  border-radius: 7px 7px;
  border: 1px solid #E6E6E6;
  padding: 20px;
  margin-right:20px;
  float: left ;
  width: 30% ;
}

form#subscribe input {
  width: 280px;
}

#feeds {
  border-collapse: collapse;
  width: 100%;
}

#feeds tr {
  width: 100%;
  padding: 5px;
}

#entries tr:hover {
  background-color: #AECEA5;
}

#entries tr:hover a {
  color: #123754;
}

#feeds tr td.title {
  width:100px;
}

#feeds small {
  color: #CCC;
}

td img {
  width: 16px;
  max-width: 16px;
}

#entries .title {
  color :#999;
}

#footer {
  padding-top: 50px;
  text-align:center;
  padding-bottom: 20px;
  width: 100%;
  clear:both;
}
